header{
    width: 100%;
    height: 100vh;
    background:linear-gradient(rgba(77, 10, 139, 0.452), rgb(26, 26, 27)), url(../../componen/foto/—Pngtree—azure\ universe\ planet\ cartoon\ background_941245.jpg);
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat
}

.home{
    display: block;
    position: relative;
    top: 15px;
    padding: 10px;
    margin-left: 20px;
}

.JP{
    width: 500px;
}

.name{
    color: aliceblue;
    text-transform: capitalize;
    background-color: rgb(119, 31, 201);
    width: fit-content;
    padding: 5px;
    border: 7px solid rgb(118, 50, 128);
    margin-bottom: 20px;
    border-radius: 10px;
}

.des{
    color: aliceblue;
    text-transform: capitalize;
    font-size: 50px;
}

.planet{
    background-color: aliceblue;
    width: 25vw;
    height: 17vh;
    border-radius: 200px;
    position: absolute;
    bottom: -9px;
    opacity: 10%;
    border: 3px solid rgb(252, 11, 11);
}

.right{
    position: absolute;
    right: 500px;
    background-color: rgb(219, 113, 14);
    font-size: 20px;
    height: 14vh;
    width: 21vw;
    border-radius: 200px;
}

.about{
    background-color: aliceblue;
    width:20vw ;
    margin-left: 40px;
}
/* seluler responsiv */
@media screen and (max-width:360px) {
    .home{
        top: 15px;
    }
    .name{
        font-size: 15px;
    }
    .des{
        font-size:10vw;
    }

    .planet{
        width: 40vw;
        top: 0;
    }

    .right{
        position: absolute;
        left: 10px;
        width: 100px;
        height: 100px;
    }
}

@media screen and (min-width:640px) {
    .planet{
        width: 19vw;
        height: 14vh;
        bottom: -10px;
    }


    .right{
        position: absolute;
        /* left: 10px; */
        width: 100px;
        height: 100px;
        bottom: -100px;
    }
}

/* tablet responsif */

@media screen and (min-width:601px) {

    .planet{
        width: 100px;
        height: 100px;
        bottom: 5px;
        left: 2px;
    }

    .right{
        position: absolute;
        width: 100px;
        height: 100px;
        bottom: -100px;
    }
}

@media screen and (max-width:962px) {
    .planet{
        width: 18vw;
        height: 11vh;
    }
    .right{
        position: absolute;
        width: 80px;
        height: 80px;
    }
}